body {
  background-color: #eee;
}
.jd-layout {
  max-width: 640px;
  min-width: 320px;
  height: 1000px;
  margin: 0 auto;
  background-color: #fff;
}
.jd-header {
  width: 100%;
  height: 40px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 640px;
  min-width: 320px;
  padding-left: 70px;
  padding-right: 50px;
}
.jd-header .search {
  position: relative;
  width: 100%;
  height: 100%;
}
.jd-header .search input {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  border-radius: 15px;
  padding-left: 40px;
}
.jd-header .search span {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  top: 10px;
  background: url(../images/jd-sprites.png) no-repeat;
  background-size: 200px 200px;
  background-position: -59px -110px;
}
.jd-header .logo {
  position: absolute;
  top: 7px;
  left: 5px;
  width: 60px;
  height: 25px;
  background: url(../images/jd-sprites.png) no-repeat;
  background-size: 200px 200px;
  background-position: 0 -107px;
}
.jd-header .login {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 40px;
  color: #fff;
  text-align: center;
  line-height: 40px;
}
.jd-banner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.jd-banner ul {
  width: 1000%;
  transform: translateX(-10%);
  overflow: hidden;
}
.jd-banner ul li {
  width: 10%;
  float: left;
}
.jd-banner ul li img {
  width: 100%;
  display: block;
}
.jd-banner ol {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}
.jd-banner ol li {
  float: left;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 5px;
}
.jd-banner ol li.active {
  background-color: #fff;
}
.jd-nav ul li {
  float: left;
  width: 20%;
  margin: 10px 0;
  text-align: center;
}
.jd-nav ul li img {
  width: 40px;
  height: 40px;
}
.jd-nav ul li p {
  font-size: 12px;
  color: #969696;
}
.jd-news {
  height: 30px;
  line-height: 30px;
  background-color: #ccc;
  padding-left: 75px;
  padding-right: 40px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}
.jd-news img {
  position: absolute;
  left: 3px;
  top: 7px;
  width: 73px;
}
.jd-news .info {
  height: 100%;
  width: 100%;
  float: left;
  padding-left: 10px;
}
.jd-news .info li {
  height: 30px;
  line-height: 30px;
  color: #969696;
}
.jd-news a {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 12px;
  line-height: 30px;
  text-align: left;
  color: #969696;
}
.jd-seckill .title {
  height: 30px;
  line-height: 30px;
}
.jd-seckill .title .logo {
  width: 20px;
  height: 21px;
  background-position: -83px -110px;
  margin-top: 5px;
}
.jd-seckill .title .text {
  margin: 0 10px;
  color: #F23030;
  font-size: 12px;
}
.jd-seckill .title .time {
  padding-top: 6px;
}
.jd-seckill .title .time span {
  float: left;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
}
.jd-seckill .title .time span:nth-child(2n+1) {
  background-color: #000;
  border-radius: 5px;
  width: 18px;
  height: 18px;
  color: #fff;
}
.jd-seckill .title .time span:nth-child(even) {
  width: 6px;
}
.jd-seckill .title .more {
  color: #969696;
  font-size: 12px;
}
.jd-seckill .content {
  width: 100%;
  height: 110px;
  overflow: scroll;
}
.jd-seckill .content ul {
  width: 870px;
}
.jd-seckill .content ul li {
  float: left;
  text-align: center;
  width: 87px;
  padding-top: 5px;
  border-right: 1px solid #ccc;
}
.jd-seckill .content ul li img {
  width: 60px;
  height: 60px;
}
.jd-seckill .content ul li p {
  font-size: 12px;
  line-height: 12px;
}
.jd-seckill .content ul li p:nth-child(2) {
  color: #F23030;
  font-weight: bold;
}
.jd-seckill .content ul li p:nth-child(3) {
  text-decoration: line-through;
  color: #969696;
}
.jd-major {
  margin-top: 10px;
}
.jd-major a {
  float: left;
  width: 33.33%;
}
.jd-major a img {
  display: block;
  width: 100%;
}
.jd-product ul li a {
  float: left;
  width: 50%;
}
.jd-product ul li a img {
  width: 100%;
  display: block;
}
.jd-product ul li:nth-child(1) a {
  width: 33.33%;
}
